@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../pacote-d013/imagens/fundo-madeira.jpg') top center / cover;
}

main{
    position: relative;
    height: 100vh;
}

#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../pacote-d013/imagens/frame-iphone.png) top center / cover no-repeat fixed;
}

#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

#redes-sociais{
    text-align: right;
}

#redes-sociais img{
    border: 3px solid transparent;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(22, 22, 22, 0.400);
    transition: 
        transform 0.25s ease,
        border .3s;
}

#redes-sociais img:hover{
    border: 3px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}